body {
  font-family: 'Open Sans', sans-serif;
}

.container .copy-button{
  margin-left: 10px;
}

.copy-button{
  visibility: hidden;
}

.list-group-item:hover .copy-button{
  visibility: visible;
}

.recent-panel .copy-button{
  visibility: visible;

}

.history-panel{
  margin-top: 40px;
}

.error-notification{
  //!important is ugly, but notification's css specificity is hard to override
  background-color: #a50000 !important;
}